name: Bun
on:
  pull_request:
    paths:
      - "**/*.ts"
      - "./bun.lockb" # dependencies have changed
  push:
    branches:
      - main

jobs:
  bun-test:
    name: Test
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v2
      - run: bun install

      - name: Run tests
        run: bun test --coverage-reporter lcov

      - uses: codecov/codecov-action@v4.5.0
        with:
          slug: Topsort/topsort.js
          files: coverage.lcov
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unittest
