name: Github Actions
on:
  pull_request:
    paths:
      - ".github/workflows/*.yml"

jobs:
  actionlint:
    name: Validate
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Install Actionlint
        env:
          version: "1.7.2"
        run: curl -Ls "https://github.com/rhysd/actionlint/releases/download/v${{ env.version }}/actionlint_${{ env.version }}_linux_amd64.tar.gz" | sudo tar -x -z -C /usr/local/bin actionlint

      - name: Run Actionlint
        run: |
          echo "::add-matcher::.github/matchers/actionlint.json"
          actionlint -color
