name: Conventional Commits
on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize

permissions:
  pull-requests: read

jobs:
  validate:
    name: Validate PR title
    runs-on: ubuntu-22.04
    timeout-minutes: 5
    steps:
      - uses: amannn/action-semantic-pull-request@v6.1.1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            chore
            docs
            revert
            build
            ci
            refactor
            perf
            test
          requireScope: false
          subjectPattern: ^(?![A-Z]).+$
