name: Biome
on:
  pull_request:
    paths:
      - "**/*.ts"
      - "**/*.json"

jobs:
  biome:
    name: Lint and format
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: biomejs/setup-biome@v2

      - name: Run Biome
        run: biome ci
